---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ContactLetter from "../components/ContactLetter.astro";
---

<BaseLayout title="Contact | Prince" description="Contact Elavarasan">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Contact"
        tagline="Feel free to reach out to me—I'm eager to collaborate with you."
      >
        <!-- contact -->
        <div class="contact-div">
          <ContactLetter />
        </div>
      </Hero>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .map-container iframe {
    border-radius: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .contact-div {
    text-align: left;
    font-size: large;
  }


</style>
