---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import ContactLetter from '../components/ContactLetter.astro';
---

<BaseLayout title="Contact | Prince" description="Contact Elavarasan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Contact"
				tagline="Feel free to reach out to me—I'm eager to collaborate with you."
			>
				<div class="map-container">
					<figure>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191085.9620897503!2d80.11902151802093!3d13.339938083390868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d81cfa1adae09%3A0xeca1060d7fe1fe9f!2sGummidipoondi%2C%20Tamil%20Nadu%20601201!5e0!3m2!1sen!2sin!4v1683343200073!5m2!1sen!2sin"
                width="100%" height="400px" loading="lazy"></iframe>
					</figure>
				</div> <br>
					
				
				
				<!-- contact -->
				<div class="contact-div">
				<ContactLetter />
				</div>
			</Hero>	
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.map-container  iframe {
		border: 1px solid;
		margin-top: 1.5rem;
		border-radius: 2.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
	.contact-div {
		text-align:left;
		font-size: large;
	}


/* -------------------------------------------------------------- */




</style>
