---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | ELAVARASAN"
  description="About ELAVARASAN"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Resume"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
      <br>
       <div class="resume-div">
                 <article class="resume" data-page="resume">
         
          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>
              <h3 class="h2">Education</h3>
            </div>
            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Dr MGR Educational and Research Institute · Jul 2022 - Jul 2024</h4>
                <span>Master of Computer Applications - MCA<br>Grade: Pursuing final year</span>
                <p class="timeline-text">
                  • First-year PG MCA student with a strong foundation in computer science and programming.<br><br>
                  • Expertise in Java, Python, research methodology, full stack development, and intellectual property rights.<br><br>
                  • Proficient in object-oriented programming, data structures, and algorithms.<br><br>
                  • Building a strong foundation in computer science and preparing for a successful career in the field.
                </p>
              </li>
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">University of Madras · Jun 2018 - May 2021</h4>
                <span>Bachelor of Commerce - B.Com<br>Grade: First Class</span>
                <p class="timeline-text">
                  • Graduated with first-class honors in B.Com with a specialization in accounting and corporate accounting.<br><br>
                  • Acquired key skills in financial statement analysis, cost accounting, and budgeting.<br><br>
                  • Developed a basic understanding of the legal and regulatory frameworks that businesses operate within through courses in income tax and business law.<br><br>
                  • Excited to leverage the knowledge and skills gained during studies to pursue a successful career in the accounting and finance industry.
                </p>
              </li>
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">HSC - Higher Secondary School Certificate - 2018</h4>
                <span>Govt Hr Sec school · Percentage: 67%</span>
              </li>
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">SSLC - Secondary School Leaving Certificate - 2016</h4>
                <span>Govt Hr Sec school · Percentage: 62%</span>
              </li>
            </ol>
          </section>
<br><br>
          <!-- Experience Section -->
          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="business"></ion-icon>
              </div>
              <h3 class="h2">Experience</h3>
            </div>
            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Machine Learning · Apr 2023 - May 2023</h4>
                <span>DLK TECHNOLOGIES · Internship · On-site</span>
                <p class="timeline-text">
                  • During my 2-month internship, I gained extensive experience in machine learning, data analytics, Python development, and data visualization. I successfully developed and trained machine learning models, deploying them to production environments.
                  <br><br>
                  • Throughout the internship, I used various tools such as Python, NumPy, Pandas, Scikit-Learn, TensorFlow, SQL, and Tableau. Jupyter Notebooks played a crucial role in developing, documenting, and presenting my work.
                  <br><br>
                  • I also showcased my skills in automating tasks and improving development workflows using Python, Git, and GitHub. These abilities helped me enhance efficiency and streamline processes. Additionally, I demonstrated expertise in creating visually appealing charts, graphs, and other visualizations to effectively communicate data insights. For this purpose, I relied on Python, Matplotlib, and Seaborn as my primary tools.
                  <br><br>
                  <b>Skills : Django · Python (Programming Language) · Anaconda · Machine Learning · Jupiter · Linux</b>
                </p>
              </li>
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Website Developer · Feb 2023 - Present</h4>
                <span>Fiverr · Freelance · Remote</span>
                <p class="timeline-text">
                  • As a portfolio website freelancer, I designed and developed websites for clients, offering three distinct packages - Simple, Advanced, and Premium.
                  <br><br>
                  • Using HTML & CSS, JavaScript, PHP, Python, and TypeScript, I created stunning websites with various features such as payment integration, forum setup, social media integration, analytics setup, video embedding, events listing, music integration, chat integration, FAQ section, and gallery display.
                  <br><br>
                  • The Premium package, in particular, offered unlimited revisions, full e-commerce functionality, and premium hosting setup, ensuring a seamless user experience for customers. Additionally,
                  <br><br>
                  • I provided an About section to introduce myself and showcase my skills and experience in the field.
                  <br><br>
                  <b>Skills : portfolio · Linux · Front-End Development · Web Design · Web Applications · Website Monetization</b>
                </p>
              </li>
            </ol>
          </section>

          <!-- This is a Volunteer Section -->
<br><br>
          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="logo-microsoft"></ion-icon>
              </div>
              <h3 class="h3">Volunteering</h3>
            </div>
            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Microsoft Learn Student Ambassador</h4>
                <span>Microsoft · Jun 2023 - Present</span>
                <p class="timeline-text">
                  Microsoft Learn Student Ambassadors are a global group of campus leaders who are eager to help fellow students, create robust tech communities, and develop technical and career skills for the future.
                </p>
              </li>
            </ol>
          </section>

<br>

          <!-- Skills Section -->
          <section class="skill">
            <h3 class="h3 skills-title">My skills</h3>
            <ul class="skills-list content-card">
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Flutter</h5>
                  <data value="50">50%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 50%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Python</h5>
                  <data value="60">60%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 60%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Fundamentals of Computer Networking</h5>
                  <data value="40">40%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 40%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">WordPress</h5>
                  <data value="30">30%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 30%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Machine Learning</h5>
                  <data value="40">40%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 40%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Web Development</h5>
                  <data value="50">50%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 50%;"></div>
                </div>
              </li>
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Linux</h5>
                  <data value="40">40%</data>
                </div>
                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 40%;"></div>
                </div>
              </li>
            </ul>
          </section>
        </article>
        </div>
      </Hero>

      
    </main>


  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .resume-div {
    text-align:left;

  }
  /* __________________________________________ */

.timeline {
  margin-bottom: 1.875rem;
}

.timeline .title-wrapper {
  font-size: var(--fs-2);
  display: flex;
  align-items: center;
  gap: .9375rem;
  margin-bottom: 1.5625rem;
}

.timeline-list {
  font-size: var(--fs-3);
  margin-left: 2.8125rem;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 1.45rem;
}

.timeline-item-title {
  font-size: var(--fs-3);
  line-height: 1.5;
  margin-bottom: .4375rem;
}

.timeline-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -1.5625rem;
  left: -1.875rem;
  width: .0625rem;
  height: calc(100% + 3.125rem);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: .3125rem;
  left: -2.0625rem;
  height: .375rem;
  width: .375rem;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 .25rem var(--jet);
}

.timeline-text {
 
  font-weight: var(--fw-300);
  line-height: 1.5;
}


/**
 * skills 
 */

.skills-title {
  margin-bottom: 1.25rem;
}

.skills-list {
  padding: 1.25rem;
}


.skills-item:not(:last-child) {
  margin-bottom: .9375rem;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: .3125rem;
  margin-bottom: .5rem;
}

.skill .title-wrapper data {

  font-size: var(--fs-2);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: var(--jet);
  width: 100%;
  height: .5rem;
  border-radius: .625rem;
}

.skill-progress-fill {
  background: var(--text-gradient-yellow);
  height: 100%;
  border-radius: inherit;
}


  .timeline-list {
    margin-left: 4.0625rem;
  }

  .timeline-item:not(:last-child)::before {
    left: -2.5rem;
  }

  .timeline-item::after {
    height: .5rem;
    width: .5rem;
    left: -2.6875rem;
  }

  .skills-item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }



  .timeline-text {
    max-width: 43.75rem;
  }



  
</style>
