---
import Icon from './Icon.astro';

---

<section class="box skills github-stats-container">
	





    <h2>About Me</h2>
    <p>
		
        <span class="first-word">I'm </span> passionate about turning my love for development into a fulfilling career. I thrive on learning, generating innovative ideas, and honing my open-source skills. This website showcases my development projects and skills, aiming for efficient and visually appealing software that offers seamless user experiences. <br><br> I specialize in front-end and back-end development, tailoring solutions to unique project needs. Whether you're a client, developer, or just curious, explore my portfolio and connect for collaboration. <br><br> Thank you for visiting, and let's create remarkable digital experiences together!
    </p>
</section>


<style>
	.github-stats-container {
  position: relative;
  background:var(--github-show-box-background-skills-color);

		border-radius: 0.75rem;


}



.github-stats-container::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(105deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
		border-radius: 0.75rem;

}
.github-stats-container::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(75deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
  filter: blur(10px);
  		border-radius: 0.85rem;

}
	
.box {
		
		border-radius: 0.75rem;
		padding: 0.5rem;
		
		box-shadow: var(--shadow-sm);
	}

 .moved-word::first-word {
    float: left;
    margin-right: 5px; /* Adjust the spacing as needed */
    font-size: 15px;
  }

	.skills h2 {
		font-size: var(--text-lg);
		text-transform: uppercase;
	}

	.skills p {
		color: var(--gray-400);
      
     

	}
    .skills{
        display: grid;
        gap: 1rem;
    }

	@media (min-width: 50em) {
		.box {
		border-radius: 0.75rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			  font-size: 20px;
			gap: 1rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}



	/* =========================================================== */


</style>
