---
---



<section class="box skills">
	
	<div class="stack gap-2 lg:gap-4">
	
<h1 class="title-for-github">Github stats 📊</h1>




<section class="github-stats-container">

    <div class="container px-2 py-2 mx-auto">
        <div class="  mt-8 lg:-mx-6 lg:flex lg:items-center">
            <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl " src="https://raw.githubusercontent.com/follow-prince/follow-prince/main/assets/gen/metrics.svg"alt="">

            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
              <h2  class="home-card-p block mt-2 text-xs font-semibold   md:text-3xl">
                    GitHub Metrics
                </h2>

                <p class="mt-3 text-sm   md:text-sm">
                    Explore my coding journey and activity on GitHub. This section provides insights into my contributions, highlighting key aspects of my open-source work and personal projects.
                </p>
                  <div class="flex items-center mt-6">
                    <img class="object-cover object-center w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/105858216" alt="">

                    <div class="mx-4">
                        <h1 class="home-card-p text-sm ">ELAVARASAN</h1>
                        <a href="https://github.com/follow-prince" class="home-card-p-a hover:underline  ">@follow-prince</a>
                    </div>
                </div>



            </div>
        </div>
    </div>
 
</section>


<section class="github-stats-container">

    <div class="container px-6 py-2 mx-auto">
        <div class="  mt-8 lg:-mx-6 lg:flex lg:items-center">
            <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl " src="https://raw.githubusercontent.com/follow-prince/follow-prince/main/assets/gen/snake.svg"alt="">

            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
              <h2  class="home-card-p block mt-2 text-xs font-semibold   md:text-3xl">
                  GitHub  Snake Contributions
                </h2>

                <p class="mt-3 text-sm   md:text-sm">
                    Embark on a year-long coding odyssey with my GitHub journey marked by unwavering dedication and a 95% daily contribution rate. From dawn to midnight fixes, watch the evolution of my code garden, where each commit tells a story of innovation and progress. Join me in embracing the adaptability and resilience symbolized by the snake—not just a display of commits, but an invitation to code together. 🚀
                </p>
                  <div class="flex items-center mt-6">
                    <img class="object-cover object-center w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/105858216" alt="">

                    <div class="mx-4">
                        <h1 class="home-card-p text-sm ">ELAVARASAN</h1>
                        <a href="https://github.com/follow-prince" class="home-card-p-a hover:underline  ">@follow-prince</a>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
 
</section>

<section class="github-stats-container">

    <div class="container px-6 py-2 mx-auto">
        <div class="  mt-8 lg:-mx-6 lg:flex lg:items-center">
            <img class="object-cover w-full lg:mx-6 lg:w-1/2  " src="https://leetcard.jacoblin.cool/iam-prince?theme=unicorn&font=Palanquin%20Dark&ext=activity"alt="">

            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
              <h2  class="home-card-p block mt-2 text-xs font-semibold   md:text-3xl">
                    Problem Solving activity
                </h2>

                <p class="mt-3 text-sm   md:text-sm">
                    In the ever-evolving world of technology, problem-solving skills are crucial. As part of my commitment to continuous improvement, I solve a LeetCode problem every day. This practice not only hones my algorithmic thinking but also keeps me abreast of the latest coding paradigms and best practices.
                </p>
                  <div class="flex items-center mt-6">
                    <img class="object-cover object-center w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/105858216" alt="">

                    <div class="mx-4">
                        <h1 class="home-card-p text-sm ">ELAVARASAN</h1>
                        <a href="https://leetcode.com/iam-prince" class="home-card-p-a hover:underline  ">@iam-prince</a>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
 
</section>









	</div>
</section>



<style>
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* github-stats-container ------------ start */
.title-for-github{
  font-size: 27px;
  margin-left:20px;
  margin-top: 20px;
    text-transform: uppercase;
      letter-spacing: 2px; 
      font-weight:900;




}
.home-card-p {
font-family: 'Abel', sans-serif;
  color: var(--github-stats-box);
  text-transform: uppercase;
  letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(161, 161, 161, 0.5);
    text-decoration: none;
    font-weight: 900;
}
.home-card-p-a {
  color: var(--github-stats-box-a);
  font-family: 'Abel', sans-serif;
  font-size:13px;
  font-weight: 700;


}
.github-stats-container {
  position: relative;
  background:var(--github-show-box-background);
  border-radius:15px;
 
}



.github-stats-container::after {
  border-radius:15px;
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
}
.github-stats-container::before {
  border-radius:15px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(25deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
  filter: blur(10px);
}

/* =================================== */
	.box {
		
		
    
	}

	.skills {
    
		display: flex;
		flex-direction: column;
    
	}


	@media (min-width: 50em) {
		.box {
			border-radius: 16px;
			
		}

		.skills {
			display: grid;
	
		}
	}

</style>
