---
---

<div class="form-style-3">
<form>
<fieldset>
<label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
<label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="field2" value="" /></label>
<label for="field3"><span>Phone <span class="required">*</span></span><input type="text" class="input-field" name="field3" value="" /></label>
<label for="field4"><span>Subject</span><select name="field4" class="select-field">
<option value="Appointment">Appointment</option>
<option value="Interview">Hiring</option>
<option value="Regarding a post">Colloperation</option>
<option value="Regarding a post">Other</option>

</select></label>
</fieldset>
<fieldset>
<label for="field6"><span>Message <span class="required">*</span></span><textarea name="field6" class="textarea-field"></textarea></label>
<label><span> </span><input type="submit" value="Submit" /></label>
</fieldset>
</form>
</div>

<style>
    <style type="text/css">



.select-field{
  
}

.form-style-3{
	max-width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}
.form-style-3 label{
	display:block;
	margin-bottom: 18px;
    
}
.form-style-3 label > span{
	float: center;
	width: 100%;
	
	font-weight: bold;
	font-size: 16px;

}
.form-style-3 fieldset{
	border-radius: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.form-style-3 fieldset legend{
	
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	 background: ;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.125);
	font-weight: bold;
	font-size: 15px;

}
.form-style-3 textarea{
	width:100%;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px rgba(166, 166, 166, 0.21);
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	 background: rgba(166, 166, 166, 0.44);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
	width:100%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{

	border: 1px solid rgba(166, 166, 166, 0.21);
	padding: 5px 15px 5px 15px;
	
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.required{
	
	font-weight:normal;
}
</style>
</style>