---
---

<section class="skill">
           

    <h3 class="h3 skills-title">My skills</h3>
    <ul class="skills-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">ReactJs & TypeScript</h5>
          <data value="70">70%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 70%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Core JAVA</h5>
          <data value="60">60%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 60%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Python</h5>
          <data value="60">60%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 60%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Fundamentals of Computer Networking</h5>
          <data value="50">50%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Docker</h5>
          <data value="60">60%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 60%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Machine Learning</h5>
          <data value="40">40%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 40%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Web Development</h5>
          <data value="50">50%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Linux</h5>
          <data value="70">70%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 70%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Astro framework</h5>
          <data value="70">70%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 70%;"></div>
        </div>
      </li>
    </ul>
  </section>

  <style>
     /**
 * skills 
 */

  .skills-title {
    margin-bottom: 1.25rem;
  }

  .skills-list {
    padding: 1.25rem;
  }

  .skills-item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .skill .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin-bottom: 0.5rem;
  }

  .skill .title-wrapper data {
    font-size: var(--fs-2);
    font-weight: var(--fw-300);
  }

  .skill .title-wrapper h5 {
    font-size: 15px;
    font-weight: var(--fw-300);
  }

  .skill-progress-bg {
    background: var(--jet);
    width: 100%;
    height: 0.2rem;
    border-radius: 0.625rem;
  }

  .skill-progress-fill {
    background: var(--text-gradient-yellow);
    height: 100%;
    border-radius: inherit;
  }

  .timeline-list {
    margin-left: 4.0625rem;
  }

  .timeline-item:not(:last-child)::before {
    left: -2.5rem;
  }

  .timeline-item::after {
    height: 0.5rem;
    width: 0.5rem;
    left: -2.6875rem;
  }

  .skills-item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .timeline-text {
    max-width: 43.75rem;
  }
  </style>